{% extends 'p_library/base.html' %}

{% load static %}

{% block authors_list %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h3 class="text-center m-3">Список авторов</h3>
            <ul>
                {% for author in object_list %}
                <li>{{ author.full_name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'p_library/style.css' %}">

{% endblock %}