{% extends 'p_library/base.html' %}

{% block publishers %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h3 class="text-center m-3">В библиотеке книги {{ publishers|length }} издательств</h3>
            <ul class="list-group">
                {% for publisher in publishers %}
                <li class="list-group-item ">
                    <p class="fw-bold">{{ publisher.name }}</p>
                    <ul class="list-group">
                        {% for item in publisher.book_publisher.all %}
                        <li class="list-group-item">
                            {{ item.title }}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}